
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: pink;

}

header ul li {
    padding: 20px;
    cursor: pointer;
    color: green;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

section p {
    padding: 50px;
    line-height: 2;
}

.one {
    background-color: yellow;
}
.two {
    background-color: greenyellow;
}
.three {
    background-color:navajowhite;
}
.four {
    background-color:darkcyan;
}

footer {
    padding: 50px;
    background-color: darkmagenta;
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center
}

footer p {
    margin-bottom: 10px;
}

footer button {
    /* flex-basis: 50px; */
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
    cursor: pointer;
}